*{
    background-color: black;
    max-width: 100%;
    color: white;
    font-family: Arial, sans-serif
}

.footer_p {
    margin-left: 9.5%;
    font-size: 16px;
}

.all_divs{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
     margin-left: -11;
    text-decoration: underline;
}

footer select {
    margin-left: 10%;
    margin-top: 18px;
}

.bottom_p{
     margin-left: 9.5%;
     margin-top:40px ;
}