*{
    background-color: black;
    max-width: 100%;
    color: white;
    font-family: Arial, sans-serif
}

/* Frequently Asked Questions css implemented by ishawar Bhavane */ 
    .FAQ_list_container {
  border-top: 8px solid #222;
  padding: 2rem 0;
  margin-left: -260px;
}
.FAQ__heading {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  margin: 1rem 3rem;
  margin-left: -77px;
}

.FAQ__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.FAQ__accordian {
  width: 100%;
}
.FAQ__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  font-size: 18px;
  background-color: #303030;
  border: 1px solid #303030;
  color: white;
}

.FAQ__visible {
  background-color: #303030;
  border-top: 1px solid black;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.FAQ__visible > p {
  margin: 1rem;
}

@media (min-width: 768px) {
  .FAQ__title {
    font-size: 20px;
  }
  .FAQ__heading {
    font-size: 38px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .FAQ__list {
    padding: 1rem 5rem;
  }
}

@media (min-width: 1024px) {
  .FAQ__list {
    padding: 1rem 25rem;
  }
}

/* footer css implemented by vishal */
.footer_p {
    margin-left: 9.5%;
    font-size: 16px;
}

.all_divs{
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    margin-left: 24px;
    margin-right: 277px;
    text-decoration: underline;
    color: #ffffff8c;
}

footer select {
    margin-left: 10%;
    margin-top: 18px;
}

.bottom_p{
     margin-left: 9.5%;
     margin-top:40px ;
}

@media only screen and ( max-width:600px)
{
  *{
    background-color: black;
    max-width: 100%;
    color: white;
    font-family: Arial, sans-serif
  }
   .footer_p {
    margin: 24px;
    font-size: 16px;
 }
 .all_divs{
  margin-bottom: -250px;
 }
.second{
  position: relative;
  left: 150px;
  bottom: 136px;
}
.first{
  position: relative;
  right:105px;
}
.third{
 position: relative;
 bottom: 149px;
 right: 93px;
}
.fourth{
  position: relative;
  bottom: 284px;
  left: 134px;
}
}